body {
    background: #ffffff;
    background: #f7f7f7;
}

footer {
    background: #6cd2bf;
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
    padding-top: 20px;
}

.nav-link {
    color: white;
}

.navbar-expand-lg {
    background: #6cd2bf;
    color: white;
}
