body {
    background-color: #ffffff;
}

footer {
    background-color: #64b0df;
    color: #fff;
    padding: 20px 0 10px 0;
    font-size: 14px;
}

.navbar {
    background-color: #64b0df !important;
}

.navbar .nav-link {
    color: white !important;
}
