body {
    background-color: #ffffff;
}

footer {
    background-color: #6cd2bf;
    color: #fff;
    padding: 20px 0 10px 0;
    font-size: 14px;
}

.navbar {
    background-color: #6cd2bf !important;
}

.navbar .nav-link {
    color: white !important;
}
