body {
    background-color: #ffffff;
}

footer {
    background-color: #6cd2bf;
    color: #fff;
    padding: 20px 0 10px 0;
    font-size: 14px;
}

.navbar {
    background-color: #6cd2bf !important;
}

.navbar .nav-link {
    color: white !important;
}

.fixed-row-height td {
    height: 60px;       /* feste Höhe der Zeilen */
    vertical-align: middle; /* Inhalt zentrieren */
    white-space: nowrap; /* verhindert Zeilenumbruch */
    overflow: hidden;    /* Text, der zu lang ist, wird abgeschnitten */
    text-overflow: ellipsis; /* "..." für abgeschnittenen Text */
}